{% extends 'base.html' %}

{% block content %}

    <h1>Selamat datang di "Kampung Durian Runtuh"</h1>
    <p>Kami sangat peduli tentang privasi dan keamanan data Anda. Kebijakan privasi ini menjelaskan bagaimana kami mengumpulkan, menggunakan, mengungkap, dan melindungi informasi pribadi dan data yang Anda enkripsi saat Anda menggunakan situs web kami kampdurirun.com atau layanan kami untuk mengamankan gambar, dokumen PDF, Excel, dan video Anda. Dengan menggunakan situs web kami, Anda menyetujui praktik yang dijelaskan dalam kebijakan ini.</p>

    <h2>1. Informasi yang Kami Kumpulkan</h2>
    <p>Kami mengumpulkan dan mengenkripsi data yang Anda unggah ke situs kami, seperti gambar, dokumen PDF, Excel, dan video. Data yang Anda enkripsi bersifat rahasia dan hanya Anda atau yang Anda otorisasi memiliki akses ke data tersebut. Kami tidak memiliki akses ke konten data yang dienkripsi.</p>

    <h2>2. Bagaimana Kami Menggunakan Informasi Anda</h2>
    <p>Kami menggunakan layanan kami untuk mengenkripsi data Anda dan mengembalikan data yang dienkripsi saat Anda memerlukan akses. Kami tidak mengakses atau menggunakan data yang dienkripsi kecuali atas permintaan Anda dan melalui prosedur yang Anda tetapkan. Kami juga tidak menyimpan kunci enkripsi atau data yang dienkripsi.</p>

    <h2>3. Bagaimana Kami Melindungi Data Anda</h2>
    <p>Kami mengambil tindakan keamanan fisik, elektronik, dan administratif yang ketat untuk melindungi data yang Anda enkripsi. Kami menggunakan enkripsi kuat dan praktik keamanan tingkat lanjut untuk memastikan keamanan data Anda. Anda adalah satu-satunya yang memiliki akses ke data yang dienkripsi.</p>

    <h2>4. Berbagi Informasi Anda</h2>
    <p>Kami tidak membagikan, menjual, atau menyewakan data yang Anda enkripsi kepada pihak ketiga. Data yang dienkripsi disimpan dengan aman dan hanya Anda yang memiliki akses.</p>

    <h2>5. Akses dan Kontrol Data Anda</h2>
    <p>Anda memiliki kendali penuh atas data yang Anda enkripsi. Anda adalah satu-satunya yang memiliki akses ke data yang dienkripsi dan kunci enkripsi yang Anda tetapkan. Kami tidak memiliki akses ke data Anda.</p>

    <h2>6. Perubahan pada Kebijakan Privasi</h2>
    <p>Kami dapat memperbarui kebijakan privasi ini sesuai dengan perubahan hukum atau praktik perusahaan kami. Setiap perubahan akan diposting di situs web kami dengan tanggal revisi yang sesuai.</p>

    <h2>7. Hubungi Kami</h2>
    <p>Jika Anda memiliki pertanyaan atau komentar tentang kebijakan privasi kami, jangan ragu untuk menghubungi kami di kampdurirun@gmail.com.</p>

    <p>Dengan menggunakan situs web kami dan layanan kami untuk mengenkripsi data Anda, Anda menyetujui kebijakan privasi ini dan persyaratan yang terkait. Pastikan untuk membaca kebijakan ini secara berkala untuk tetap mendapatkan pemahaman yang baik tentang bagaimana kami melindungi dan mengelola data Anda. Terima kasih telah mempercayai kami dalam menjaga keamanan data Anda.</p>

{% endblock content %}
